build/**
code/core/__pycache__/pdf_handler.cpython-37.pyc
code/test/**
dist/**
code/ui/__pycache__/**
gzh/**
skills/**
.gitignore
code/core/__pycache__/pdf_handler.cpython-39.pyc
code/core/__pycache__/update_checker.cpython-39.pyc
code/config.json
**/__pycache__/**
code/ui/__pycache__/**
.trae/**